@import "tailwindcss";

/* Base variables */
:root {
  --background: #ffffff;
  --foreground: #000000;
  --text:#189e5d;
  --font-sans: Arial, Helvetica, sans-serif;
}

/* Tailwind theme mapping */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-logo: var(--text);
  --font-sans: var(--font-sans);
}

/* Global styles */
html,
body {
  background-color: #ffffff;
  color: #000000;
  font-family: var(--font-sans);
  min-height: 100%;
}
